.input {
  background-color: transparent;
  color: var(--secundary);
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
  transition: all 0.1s ease-in-out;
  outline: none;
}
.input:focus{
  border-radius: 0.8rem;
  border: 0.2rem solid var(--primary);
}
.input:disabled{
  border-bottom: 0.2rem solid var(--disabled);
  color: var(--text-muted);
}
.input::placeholder{
  color: var(--gray-500);
  font-size: 1.4rem;

}